.FilterPosts{
    width: 30%;
    height: 100px;
    align-content: center;
    /* padding: 1rem; */
}

.FilterPosts select{
    font-family:  "Montserrat", sans-serif;
    padding: 1rem;
    border: 1px solid;
    border-radius: 12px;
    width: 100%;
}