.Home{
    padding-bottom: 70px;
}

.Home::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    background-image: url('../../assets/images/back4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}

.users-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    /* background-color: #EBF7FF; */
    padding-bottom: 10px;
}