.SearchPost{
    width: 50%;
    height: 100px;
    align-content: center;
    /* padding: 1rem; */
}

.search-box {
    position: relative;
}

.search-box input{
    padding: 1rem;
    border-radius: 12px;
    border:1px solid rgba(0, 0, 0, 0.573);
    width: 100%;
    cursor: pointer;
    font-family:  "Montserrat", sans-serif;
}

.search-box input:focus{
    outline: none !important;
    border: 2px solid #98A178;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.search-box:hover .search-icon{
    opacity: 1;
    color: #98A178;
    transform: scale(1.1);
}


